<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
  <time xsi:type="FastUTC" />

  <extensions>
    <add assembly="Exceptionless.NLog"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target name="exceptionless"  xsi:type="Exceptionless" />

    <target name="console" xsi:type="AsyncWrapper">
      <target name="wrapped-console" xsi:type="ColoredConsole" layout="${pad:padding=5:inner=${level:uppercase=true}}|${pad:padding=20:fixedLength=true:inner=${logger:shortName=true}}|${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo="exceptionless" />
    <logger name="Microsoft.AspNetCore.*" maxlevel="Debug" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>